.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr repeat(3, 2fr) 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 100vh;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
  }
}
